.container {
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 100px;
}

.column {
    float: left;
    width: 20%;
    margin-top: 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card-body {
    margin: 2em 0.5em;
}

.card-img-top {
    width: 20%;
    float: left;
    border-radius: 20%;
    margin: 0 auto;
}

.card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 1.1em;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Courier New', Courier, monospace;
}

.card-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Courier New', Courier, monospace;
}

.badge {
    background-color: rgb(46, 54, 136);
    color: white;
    padding: 4px 28px;
    text-align: center;
    border-radius: 5px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 400%;
    font-weight: bold;
    margin-top: 50px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 300%;
    font-weight: bold;
}