body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("travel-tips-feature.jpg");
    background-size: cover;
}

#gradient {
    width: 100%;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0));
}

.container {
    width: 550px;
    margin-left: 200px;
    margin-top: 100px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 400%;
    font-weight: bold;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 200%;
    font-weight: bold;
}

p {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 20px;
    border-radius: 12px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav .search-container {
    float: right;
    background: #ffffff;
    border-radius: 12px;
    margin: 8px;
}

.topnav input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
}

textarea:focus,
input:focus {
    outline: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 4px;
    margin-right: 8px;
    margin-left: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.topnav .search-container button:hover {
    background: #ccc;
}